nodered flow.txt
[{"id":"5316052f.59fa9c","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"3c256fd3.1592f","type":"ui_button","z":"5316052f.59fa9c","name":"","group":"5cb9c6d2.cc5638","order":2,"width":0,"height":0,"passthru":false,"label":"Get Image","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":90,"y":200,"wires":[["6be11e80.5105e"]]},{"id":"6be11e80.5105e","type":"http request","z":"5316052f.59fa9c","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://593aa4cd-4a98-4aec-a0ec-0702628f916d-bluemix.cloudant.com/projectreal/_all_docs?include_docs=true&descending=true&limit=1 ","tls":"","persist":false,"proxy":"","authType":"basic","x":300,"y":200,"wires":[["e4d70366.41db6"]]},{"id":"e4d70366.41db6","type":"function","z":"5316052f.59fa9c","name":"Image","func":"msg.payload=msg.payload.rows[0].doc.link\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":140,"wires":[["7cc9eead.03428","ce5efe83.02e97"]]},{"id":"ce5efe83.02e97","type":"ui_template","z":"5316052f.59fa9c","group":"5cb9c6d2.cc5638","name":"","order":1,"width":6,"height":7,"format":"<img ng-src=\"{{msg.payload}}\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":620,"y":220,"wires":[[]]},{"id":"7cc9eead.03428","type":"debug","z":"5316052f.59fa9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":100,"wires":[]},{"id":"2923f3b1.c73b0c","type":"ibmiot out","z":"5316052f.59fa9c","authentication":"apiKey","apiKey":"c1987dbd.97229","outputType":"cmd","deviceId":"123456","deviceType":"raspberrypie","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":560,"y":380,"wires":[]},{"id":"e403ff77.bc566","type":"ui_button","z":"5316052f.59fa9c","name":"","group":"5cb9c6d2.cc5638","order":6,"width":3,"height":2,"passthru":false,"label":"OPEN","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"dooropen\"}","payloadType":"json","topic":"","x":170,"y":280,"wires":[["2923f3b1.c73b0c","cbf9a8fe.effb98"]]},{"id":"99fd8caa.21cff","type":"ui_button","z":"5316052f.59fa9c","name":"","group":"5cb9c6d2.cc5638","order":8,"width":3,"height":2,"passthru":false,"label":"CLOSE","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"doorclose\"}","payloadType":"json","topic":"","x":180,"y":360,"wires":[["2923f3b1.c73b0c","cbf9a8fe.effb98"]]},{"id":"cbf9a8fe.effb98","type":"debug","z":"5316052f.59fa9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":300,"wires":[]},{"id":"d892053c.9222a8","type":"ui_button","z":"5316052f.59fa9c","name":"","group":"5cb9c6d2.cc5638","order":11,"width":4,"height":2,"passthru":false,"label":"Emergency Button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"EMERGENCY\"}","payloadType":"json","topic":"","x":210,"y":420,"wires":[["2923f3b1.c73b0c","cbf9a8fe.effb98"]]},{"id":"5cb9c6d2.cc5638","type":"ui_group","z":"","name":"Default","tab":"242c39df.02b356","order":1,"disp":true,"width":"6","collapse":false},{"id":"c1987dbd.97229","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"242c39df.02b356","type":"ui_tab","z":0,"name":"Home","icon":"dashboard","disabled":false,"hidden":false}]